%h1 Exposition

%h2 Write more with our daily inspiration.

%p Write a short story based on the character and setting below. Come back tomorrow for a new challenge.

%p A character:

%h3
  = @exposition.person.capitalize

%p A setting:

%h3
  = @exposition.place.capitalize

%p Sign in with Twitter or Facebook to post your story here.
