%h1 Exposition

%h2 Write here, right now. 
%p A little bit of inspiration to get you into the habit of writing every day.

.today
  .row
    %div.col-md-8.col-md-offset-1
      %p.heading
        A character:
      %p.changeable
        = @exposition.person.capitalize
  .row
    %div.col-md-8.col-md-offset-1
      %p.heading
        A setting:
      %p.changeable
        = @exposition.place.capitalize

%p Sign in with Twitter or Facebook to post your story here.
